header {
  position: absolute;
  width: 100%; }

.navbar-default {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  background-image: none;
  font-family: "OpenSansRegular";
  padding: 40px; }

.nav-default {
  padding: 12px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.navbar-collapse ul li a {
  color: white !important;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 15px; }
  .navbar-collapse ul li a:hover {
    border: 1px solid white;
    border-radius: 50px; }

.navbar-fix {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  z-index: 3;
  -webkit-box-shadow: 0px 9px 33px -15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 9px 33px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 9px 33px -15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border-radius: 0; }
  .navbar-fix ul li a {
    color: black !important;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 15px; }
    .navbar-fix ul li a:hover {
      border: 1px solid black;
      border-radius: 50px; }

.icon-bar-fix {
  background-color: black !important; }

.section-one {
  background-image: url("../img/bg-first-section-2.jpg");
  background-position: center top;
  padding-top: 300px;
  padding-bottom: 77px;
  text-align: center; }
  .section-one h1 {
    font-family: "SourceSansProLight";
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px; }
  .section-one p {
    height: 300px;
    font-family: "OpenSansRegular" !important;
    color: white;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px; }
  .section-one div {
    display: inline-block;
    background-color: #19bd9a;
    border-radius: 30px;
    position: relative;
    height: 40px;
    width: 40px;
    -webkit-animation: jump 1.5s ease 0s infinite normal;
    animation: jump 1.5s ease 0s infinite normal; }
    .section-one div span {
      color: white;
      font-size: 17px;
      position: absolute;
      top: 32%;
      left: 28%; }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes jump {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(0); }
  60% {
    transform: translateY(-15px); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
.h2-base {
  font-family: "SourceSansProLight";
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 50px; }

.h3-base {
  font-family: "OpenSansRegular";
  font-size: 21px;
  margin-bottom: 27px;
  letter-spacing: 1px; }

.p-base {
  font-family: "OpenSansRegular";
  font-size: 15px;
  color: #81868e;
  line-height: 25px; }

.btn-white-bg, .btn-black-bg {
  color: black;
  font-family: "OpenSansRegular";
  font-size: 16px;
  border: 1px solid black;
  padding: 7px 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block; }
  .btn-white-bg:visited, .btn-black-bg:visited {
    color: black;
    text-decoration: none; }
  .btn-white-bg:hover, .btn-black-bg:hover {
    color: black;
    text-decoration: none; }
  .btn-white-bg:active, .btn-black-bg:active {
    color: black;
    text-decoration: none; }
  .btn-white-bg:focus, .btn-black-bg:focus {
    color: black;
    text-decoration: none; }

.btn-black-bg {
  border: 1px solid white;
  color: white; }
  .btn-black-bg:visited {
    color: white;
    text-decoration: none; }
  .btn-black-bg:hover {
    color: white;
    text-decoration: none; }
  .btn-black-bg:active {
    color: white;
    text-decoration: none; }
  .btn-black-bg:focus {
    color: white;
    text-decoration: none; }

.icon-circle {
  width: 54px;
  height: 54px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #81868e;
  display: inline-block;
  margin: 14px;
  position: relative; }
  .icon-circle:hover {
    background-color: #19bd9a; }

.btn-white-bg:hover, .btn-black-bg:hover {
  background-color: #19bd9a;
  color: white;
  border: 1px solid transparent; }

.btn-black-bg:hover {
  background-color: white;
  color: #19bd9a;
  border: 1px solid transparent; }

.color-base-b {
  font-weight: bold;
  color: #19bd9a; }

.color-grey-b {
  font-weight: bold;
  color: #636971; }

.font-b {
  font-weight: bold; }

.section-two, .section-tree, .section-for {
  padding-bottom: 80px;
  padding-top: 80px; }
  .section-two div p, .section-tree div p, .section-for div p {
    margin-bottom: 40px; }

.section-tree {
  background-color: #f3f3f3; }
  .section-tree .icons-s-3 {
    margin-bottom: 20px; }
    .section-tree .icons-s-3 .icon-circle:nth-child(1) span {
      color: white;
      font-size: 24px;
      position: absolute;
      top: 17px;
      left: 15px; }
    .section-tree .icons-s-3 .icon-circle:nth-child(2) span {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 10px;
      left: 13px; }
    .section-tree .icons-s-3 .icon-circle:nth-child(3) span {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 12px;
      left: 12px; }

.section-for {
  padding-bottom: 0; }
  .section-for .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    .section-for .container-fluid .s4-img-1 {
      background: url("../img/polygraphy.jpg") center center no-repeat;
      background-size: auto 500px;
      padding: 0;
      height: 350px; }
      .section-for .container-fluid .s4-img-1:after, .section-for .container-fluid .s4-img-2:after, .section-for .container-fluid .s4-img-3:after {
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute; }
      .section-for .container-fluid .s4-img-1:after, .section-for .container-fluid .s4-img-2:after, .section-for .container-fluid .s4-img-3:after {
        content: "POLYGRAPHY";
        position: absolute;
        font-family: "SourceSansProLight";
        letter-spacing: 3px;
        font-size: 22px;
        color: white;
        text-align: center;
        line-height: 350px; }
      .section-for .container-fluid .s4-img-1:hover:after, .section-for .container-fluid .s4-img-2:hover:after, .section-for .container-fluid .s4-img-3:hover:after {
        content: "\e911";
        font-size: 40px;
        font-family: 'bouncy' !important;
        background-color: transparent;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .section-for .container-fluid .s4-img-2 {
      background: url("../img/vintage.jpg") center no-repeat;
      background-size: auto 500px;
      padding: 0;
      height: 350px; }
      .section-for .container-fluid .s4-img-2:after {
        content: "VINTAGE"; }
    .section-for .container-fluid .s4-img-3 {
      padding: 0;
      background: url("../img/branding.jpg") center center no-repeat;
      background-size: auto 500px;
      height: 350px; }
      .section-for .container-fluid .s4-img-3:after {
        content: "BRANDING"; }
    .section-for .container-fluid .submit-now {
      padding: 50px;
      background: url("../img/bg-shoes.jpg") center top;
      text-align: center; }
    .section-for .container-fluid p {
      font-family: "OpenSansRegular";
      color: white;
      font-size: 19px;
      letter-spacing: 1px;
      margin-bottom: 0; }

.section-five {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 80px; }
  .section-five .margin-b {
    margin-bottom: 50px; }
  .section-five .icons-s-4 {
    margin-bottom: 20px; }
    .section-five .icons-s-4 .icon-circle {
      margin-top: 8px;
      margin-bottom: 8px; }
      .section-five .icons-s-4 .icon-circle:nth-child(1) span {
        color: white;
        font-size: 24px;
        position: absolute;
        top: 15px;
        left: 15px; }
      .section-five .icons-s-4 .icon-circle:nth-child(2) span {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 13px;
        left: 13px; }
      .section-five .icons-s-4 .icon-circle:nth-child(3) span {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 9px;
        left: 12px; }
      .section-five .icons-s-4 .icon-circle:nth-child(4) span {
        color: white;
        font-size: 25px;
        position: absolute;
        top: 14px;
        left: 18px; }
  .section-five .text-block p:nth-child(2) {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px; }
  .section-five .progress-warp {
    padding-top: 40px;
    padding-bottom: 40px; }
    .section-five .progress-warp .progress-contain {
      display: inline-block;
      margin: 25px; }
    .section-five .progress-warp .progress-value {
      color: #81868e;
      font-family: "OpenSansRegular"; }
      .section-five .progress-warp .progress-value span {
        font-size: 15px; }
  .section-five .progress-contain .progress-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "OpenSansRegular";
    font-size: 17px;
    color: #81868e; }

.section-six {
  background: url("../img/s-6-bg.jpg") center top;
  background-size: 100%;
  padding-top: 55px; }
  .section-six h2 {
    color: white; }
  .section-six p {
    font-size: 16px;
    color: #b2b3b3; }
    .section-six p span {
      text-transform: uppercase; }
      .section-six p span .color-base-b {
        font-weight: normal; }
  .section-six div img {
    position: relative;
    top: -100px; }

.img-gallery {
  width: 100%; }

.nav-tabs-con {
  max-width: 650px;
  margin: auto; }

.nav-tabs {
  font-family: "OpenSansRegular";
  font-size: 16px;
  color: black;
  margin-bottom: 55px; }
  .nav-tabs li {
    border: none; }
    .nav-tabs li a {
      color: black !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  position: relative;
  border: 1px solid transparent !important;
  background-color: #f3f3f3 !important; }

.nav-tabs > li.active > a:after {
  content: "";
  display: inline-block;
  background-color: #19bd9a;
  position: absolute;
  width: 40px;
  height: 2px;
  top: 40px;
  left: 50%;
  margin-left: -20px; }

.nav-tabs > li > a:hover {
  background-color: #f3f3f3;
  border: 1px solid transparent; }

.nav-tabs > li > a:hover:after {
  content: "";
  display: inline-block;
  background-color: #19bd9a;
  position: absolute;
  width: 40px;
  height: 2px;
  top: 40px;
  left: 50%;
  margin-left: -20px; }

.nav-tabs {
  border-bottom: none; }

.section-seven {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3; }
  .section-seven h2 {
    margin-bottom: 30px; }
  .section-seven p {
    margin-bottom: 50px; }
  .section-seven .form-submit {
    background: url("../img/bg-7.jpg");
    padding: 50px;
    text-align: center;
    letter-spacing: 1px; }
    .section-seven .form-submit p {
      color: white;
      font-size: 19px;
      margin-bottom: 20px; }
  .section-seven .tab-content {
    margin-bottom: 40px; }

.section-eight {
  padding-top: 65px; }
  .section-eight .owl-carousel .owl-stage-outer {
    margin-bottom: 40px; }
  .section-eight .owl-carousel .owl-dots {
    text-align: center; }
    .section-eight .owl-carousel .owl-dots .owl-dot {
      background-color: white !important;
      border: 1px solid #19bd9a;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      margin: 5px; }
      .section-eight .owl-carousel .owl-dots .owl-dot:focus, .section-eight .owl-carousel .owl-dots .owl-dot:hover, .section-eight .owl-carousel .owl-dots .owl-dot:active {
        outline: 0; }
    .section-eight .owl-carousel .owl-dots .active {
      background-color: #19bd9a !important; }
  .section-eight .owl-carousel .photo-man {
    max-width: 283px;
    display: inline-block; }
  .section-eight p {
    margin-bottom: 60px; }
  .section-eight .team-text {
    text-align: right;
    padding-right: 110px; }
    .section-eight .team-text img {
      max-width: 332px !important;
      display: inline-block !important; }
    .section-eight .team-text p:nth-child(1) {
      font-family: "OpenSansRegular";
      font-size: 21px;
      margin-bottom: 27px;
      letter-spacing: 1px;
      position: relative; }
      .section-eight .team-text p:nth-child(1):after {
        content: "";
        width: 4px;
        height: 45px;
        position: absolute;
        top: 10px;
        right: -40px;
        background-color: #19bd9a; }
      .section-eight .team-text p:nth-child(1) span {
        font-family: "SourceSansProLight";
        text-transform: uppercase;
        font-style: italic;
        color: #636971;
        font-size: 15px; }
    .section-eight .team-text p:nth-child(2) {
      margin-bottom: 40px; }
  .section-eight .s-8-contact-us {
    background: url("../img/contact-us.jpg") center top;
    padding: 65px;
    text-align: center;
    margin-top: 80px; }
    .section-eight .s-8-contact-us p {
      color: white;
      font-size: 20px;
      margin-bottom: 30px; }

.section-nine {
  background-color: #f3f3f3;
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-nine p {
    margin-bottom: 60px; }
  .section-nine .feedback-con {
    background-color: white;
    padding: 60px 15px; }
    .section-nine .feedback-con p:first-child {
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 20px; }
    .section-nine .feedback-con p:nth-child(2) {
      letter-spacing: 1px;
      margin-bottom: 0; }
    .section-nine .feedback-con .photo-man-2 {
      max-width: 130px !important; }
    .section-nine .feedback-con .owl-carousel .owl-stage-outer {
      margin-bottom: 40px; }
    .section-nine .feedback-con .owl-carousel .owl-dots {
      text-align: center;
      display: block !important; }
      .section-nine .feedback-con .owl-carousel .owl-dots .owl-dot {
        background-color: white !important;
        border: 1px solid #19bd9a;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        margin: 5px; }
        .section-nine .feedback-con .owl-carousel .owl-dots .owl-dot:focus, .section-nine .feedback-con .owl-carousel .owl-dots .owl-dot:hover, .section-nine .feedback-con .owl-carousel .owl-dots .owl-dot:active {
          outline: 0; }
      .section-nine .feedback-con .owl-carousel .owl-dots .active {
        background-color: #19bd9a !important; }

.section-ten {
  background: url("../img/bg-news.jpg") center top;
  background-size: 100%;
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-ten h2 {
    color: white; }
  .section-ten p {
    color: #b2b3b3;
    margin-bottom: 80px; }
  .section-ten .owl-carousel {
    display: block !important;
    position: relative; }
    .section-ten .owl-carousel .owl-dots {
      display: block !important;
      position: absolute;
      transform: rotate(90deg);
      right: 0;
      top: 40px; }
      .section-ten .owl-carousel .owl-dots .owl-dot {
        background-color: transparent;
        border: 1px solid #b2b3b3;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        margin: 5px; }
        .section-ten .owl-carousel .owl-dots .owl-dot:focus, .section-ten .owl-carousel .owl-dots .owl-dot:hover, .section-ten .owl-carousel .owl-dots .owl-dot:active {
          outline: 0; }
      .section-ten .owl-carousel .owl-dots .active {
        background-color: #b2b3b3 !important; }
    .section-ten .owl-carousel .news-con ul {
      list-style: none;
      font-family: "OpenSansRegular";
      display: inline-block; }
      .section-ten .owl-carousel .news-con ul li:nth-child(1) {
        color: white;
        font-size: 19px;
        line-height: 20px;
        letter-spacing: 1px; }
      .section-ten .owl-carousel .news-con ul li:nth-child(2) {
        color: #81868e;
        font-size: 14px;
        text-transform: uppercase;
        font-style: italic;
        line-height: 40px; }
        .section-ten .owl-carousel .news-con ul li:nth-child(2) span {
          color: #19bd9a; }
      .section-ten .owl-carousel .news-con ul li:nth-child(3) {
        color: #575757;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 40px; }
    .section-ten .owl-carousel .news-con p {
      color: #81868e;
      letter-spacing: 1px;
      line-height: 24px;
      margin-bottom: 40px; }
    .section-ten .owl-carousel .news-con a {
      color: #b2b3b3;
      font-size: 15px; }
      .section-ten .owl-carousel .news-con a:hover, .section-ten .owl-carousel .news-con a:focus, .section-ten .owl-carousel .news-con a:active {
        color: #b2b3b3;
        text-decoration: none; }

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  display: inline-block; }

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  position: absolute;
  top: 0;
  left: 0; }

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1; }

.progress .progress-left {
  left: 0; }

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0; }

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left; }

.progress .progress-right {
  right: 0; }

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right; }

.add-animate-right {
  animation: loading-1 1.8s linear forwards; }

.progress .progress-value {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 24px;
  color: black;
  line-height: 135px;
  text-align: center;
  position: absolute;
  border: 3px solid #047378; }

.progress.blue .progress-bar {
  border-color: #19bd9a; }

.progress.yellow .progress-bar {
  border-color: #19bd9a; }

.progress.pink .progress-bar {
  border-color: #19bd9a; }

.add-animate-1st {
  animation: loading-2 1.5s linear forwards 1.8s; }

.add-animate-2 {
  animation: loading-3 1s linear forwards 1.8s; }

.add-animate-3 {
  animation: loading-4 0.4s linear forwards 1.8s; }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(134deg);
    transform: rotate(134deg); } }
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg); } }
.progress-contain {
  display: inline-block; }

.progress-title {
  display: block;
  text-align: center; }

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px; } }
@media only screen and (max-width: 768px) {
  .navbar-default .navbar-collapsing {
    border: none;
    box-shadow: none; }
  .navbar-default .navbar-collapse {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(116, 100, 77, 0.9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: -1px -1px 48px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 48px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 48px -14px rgba(0, 0, 0, 0.75); }
  .navbar-default .navbar-header {
    border: none; }
    .navbar-default .navbar-header .navbar-toggle {
      border-color: transparent; }
      .navbar-default .navbar-header .navbar-toggle:hover, .navbar-default .navbar-header .navbar-toggle:active, .navbar-default .navbar-header .navbar-toggle:focus {
        background-color: rgba(255, 255, 255, 0.1); }
      .navbar-default .navbar-header .navbar-toggle .icon-bar {
        background-color: white; }

  .section-one {
    padding-left: 20px;
    padding-right: 20px; }

  .section-two, .section-tree, .section-for {
    text-align: center; }
    .section-two div .btn-white-bg, .section-tree div .btn-white-bg, .section-for div .btn-white-bg, .section-two div .btn-black-bg, .section-tree div .btn-black-bg, .section-for div .btn-black-bg {
      margin-bottom: 50px;
      display: inline-block; }

  .section-for .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    .section-for .container-fluid .s4-img-1 {
      background-size: 800px auto; }
      .section-for .container-fluid .s4-img-1:after, .section-for .container-fluid .s4-img-2:after, .section-for .container-fluid .s4-img-3:after {
        left: 0; }
    .section-for .container-fluid .s4-img-2 {
      background-size: 100% auto; }
      .section-for .container-fluid .s4-img-2:after {
        left: 0; }
    .section-for .container-fluid .s4-img-3 {
      background-size: 100% auto; }
      .section-for .container-fluid .s4-img-3:after {
        left: 0; }
    .section-for .container-fluid .submit-now p {
      margin-bottom: 25px; }
    .section-for .container-fluid .submit-now a {
      margin-bottom: 0; }

  .section-five .progress-warp .progress-contain {
    width: 100%;
    text-align: center; }

  .icons-s-4 {
    margin: 0; }
    .icons-s-4 .icon-circle {
      margin-left: 0; }

  .section-six {
    padding-bottom: 60px;
    background-size: auto; }
    .section-six div {
      text-align: center; }
      .section-six div img {
        max-width: 409px;
        width: 100%;
        top: 0;
        padding-top: 30px; }

  .team-text {
    text-align: center !important; }

  .photo-man {
    margin-bottom: 20px; }

  .section-nine .feedback-con {
    text-align: center; }
    .section-nine .feedback-con .owl-carousel .photo-man-2 {
      display: inline-block;
      margin-bottom: 20px; }

  .section-ten {
    text-align: center; }
    .section-ten .owl-carousel .owl-dots {
      position: relative;
      transform: none; } }
@media only screen and (max-width: 840px) {
  .navbar-fix {
    -webkit-box-shadow: 0px 9px 33px -15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 9px 33px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 9px 33px -15px rgba(0, 0, 0, 0.2);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-radius: 0; }
    .navbar-fix .navbar-collapse {
      background-color: white; }
      .navbar-fix .navbar-collapse ul li a {
        color: black !important;
        border: 1px solid transparent;
        padding: 10px 20px;
        font-size: 15px; }
        .navbar-fix .navbar-collapse ul li a:hover {
          border: 1px solid black;
          border-radius: 50px; }

  .team-text {
    padding-right: 0 !important; } }
@font-face {
  font-family: 'bouncy';
  src: url("../fonts/bouncy.eot?r104vc");
  src: url("../fonts/bouncy.eot?r104vc#iefix") format("embedded-opentype"), url("../fonts/bouncy.ttf?r104vc") format("truetype"), url("../fonts/bouncy.woff?r104vc") format("woff"), url("../fonts/bouncy.svg?r104vc#bouncy") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="bo-"], [class*=" bo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bouncy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bo-arrow-down:before {
  content: "\e901"; }

.bo-bulb:before {
  content: "\e902"; }

.bo-facebook:before {
  content: "\e903"; }

.bo-folk:before {
  content: "\e904"; }

.bo-heart:before {
  content: "\e905"; }

.bo-instagram:before {
  content: "\e906"; }

.bo-joystick:before {
  content: "\e907"; }

.bo-link:before {
  content: "\e90c"; }

.bo-linkedin:before {
  content: "\e90d"; }

.bo-mark:before {
  content: "\e90e"; }

.bo-mouse:before {
  content: "\e90f"; }

.bo-phone:before {
  content: "\e910"; }

.bo-plus:before {
  content: "\e911"; }

.bo-post:before {
  content: "\e912"; }

.bo-roll:before {
  content: "\e913"; }

.bo-tool:before {
  content: "\e914"; }

.bo-twitter:before {
  content: "\e915"; }

.bo-vimeo:before {
  content: "\e916"; }

.bo-nav-menu:before {
  content: "\e90b"; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold.eot") format("embedded-opentype"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"), url("../fonts/OpenSansBold.svg#OpenSansBold") format("svg"); }
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); }
@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight.eot") format("embedded-opentype"), url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight.ttf") format("truetype"), url("../fonts/SourceSansProLight.svg#SourceSansProLight") format("svg"); }

/*# sourceMappingURL=style-list.css.map */
